1.7.10/logs/*

1.7.10/client_body_temp/*
1.7.10/fastcgi_temp/*
1.7.10/proxy_temp/*
1.7.10/scgi_temp/*
1.7.10/uwsgi_temp/*

objs/*

pcre-8.36/config.log

pcre-8.36/config.log

pcre-8.36/config.status

pcre-8.36/Makefile

pcre-8.36/.libs/libpcre.a

Makefile

luajit-2.1/lib/pkgconfig/luajit.pc

zlib/configure.log

